
*.log
*.tmp
*.bak
*.swp
*.swo
*.cache
*.out

.DS_Store
Thumbs.db


*.jou
*.str
*.wdb
*.wcfg
*.pb
*.Xil
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/
*.gen/


*.backup


*.vcd
*.vpd
*.fsdb
*.wlf
*.ucdb
*.vstf

transcript
vsim.wlf
work/


*.wave
*.dump


.vscode/
.idea/
*.code-workspace


*.bit
*.bin
*.dcp
*.ltx
